.story__rating-down:hover .story__rating-count {
  color:var(--color-danger-800)
}
.custom-comments-counter {
  padding-right: 12px;
}
.comment__rating-count.custom-comments-counter {
  padding-left: 4px;
}
.pikabu-story-rating {
  padding-top: 6px;
  padding-bottom: 6px;
}
.pikabu-pluses {
  color:var(--color-primary-700)
}
.pikabu-minuses {
  color:var(--color-danger-800)
}

.pikabu-rating-bar-vertical {
  position: absolute;
  right: -8px;
  width: 4px;
  height: 100%;
  background: var(--color-danger-800);
  border-radius: 15px;
}
.pikabu-rating-bar-vertical-pluses {
  position: absolute;
  width: 100%;
  background-color: var(--color-primary-700);
  border-radius: 15px;
}

.comment__body {
  position: relative;
}
.pikabu-rating-bar-vertical-comment {
  position: absolute;
  background-color: var(--color-danger-800);
  width: 3px;
  bottom: 20px;
  left: -8px;
  top: 20px;
  max-height: 100px;
}